{% extends "index.html" %}


{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-0 pt-3 ">Details</h1>
    <a href="{% url 'expenses'%}" class="text-white pt-3 pe-4"><i class="fa-solid fa-xmark fa-2xl"></i></a>
</div>
<hr>
<div class="container px-1 pt-5 ">
    <div class="table-responsive">
        <table class="table table-dark">
            <tr>
                <th>Name</th>
                <td>{{ data.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ data.amount }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ data.category}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ data.date}}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ data.description}}</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}